:root {
  --text: #840032;
  --border: #002642;
  background-color: #e5dada;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#modal {
  margin: auto;
  background-color: #e59500;
  color: var(--text);
  font-size: 3rem;
  padding: 6rem;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.radio-container {
  display: block;
  font-size: 1.5rem;
  text-align: center;
}

fieldset {
  border: 0;
  padding-left: 0;
}

legend {
  font-size: 3rem;
}

input,
textarea {
  margin-bottom: 20px;
}

body {
  display: flex;
  min-height: 100vh;
}

h1 {
  color: var(--text);
  font-size: 5rem;
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  color: var(--text);
  font-size: 3rem;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.btn-container {
  display: flex;
}

.task-title {
  font-size: 4rem;
}

.task-descrip {
  font-size: 2.5rem;
}

.task-date {
  font-size: 1.5rem;
}

#save-btn,
#update-btn,
#close-modal {
  width: 50%;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--text);
  color: #e59500;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.edit,
.complete,
.delete {
  background-color: var(--text);
  color: #e59500;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 10px;
  width: 25%;
  text-align: center;
}

#sidebar {
  border: 5px solid var(--border);
  width: 10%;
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  gap: 10rem;
}

#sidebar p {
  font-size: 2rem;
  color: var(--text);
  border: 2px solid var(--border);
  border-radius: 10px;
  width: 80%;
  margin: 1rem 2rem;
}

#new-btn {
  color: var(--text);
  font-size: 2rem;
  border-radius: 10px;
  background-color: #e59500;
  width: 80%;
  margin: 0 1rem;
  padding: 1rem;
}

.task-box {
  color: var(--text);
  width: 20%;
  border: 10px solid var(--border);
  font-size: 2rem;
  background-color: #e59500;
  border-radius: 10px;
  word-wrap: break-word;
  padding: 2rem;
}

.task-box p {
  margin-bottom: 20px;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tasks-container,
.other-container {
  padding: 1rem;
}
.created-task {
  display: none !important;
}

.task-completed {
  display: none !important;
}

.not-priority {
  display: none !important;
}

.priority-task {
  border: 10px solid yellow;
  border-radius: 10px;
}

.overdue {
  color: red;
  border: 10px solid red;
}
